.todo-container {
  width: 600px;
  margin: auto;
}

.todo-container .todo-display {
  width: 100%;
  line-height: 4em;
  background-color: #3feee6;
  border: none;
  color: #808080;
  font-size: 1em;
  outline: none;
  padding: 0 10px;
}