.todo-message{
  width: 600px;
  margin: auto;
  color: #808080;
  font-size: 1.3em;
  text-align: center;
  text-decoration: underline;
}

header{
  width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  color:  #808080;
}
